body {
    background: #FFFFFF;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0px;
}

header {
    padding: 0.5em 1em;
    color: #000000;
    font-family: 'Raleway', sans-serif;
}

p {
    margin-left: 10px;
    font-size: 20px;
}

button {
    background-color:#1484D5;
    border: 2px solid #175E91;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px #000000;
}

section,
h1 {
    max-width: 1170px;
    margin-left: 10px;
    margin-right: auto;
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: #000000;
}

h2 {
    max-width: 1170px;
    /*margin-left: 10px;*/
    margin-right: auto;
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: #000000;
}

.btn {
    margin: 5px;
    box-shadow: 0 3px 0 0 #007299;
    font-family: 'Raleway', sans-serif;
    float: right;
}

.delete-btn {
    margin: 0px;
    margin-right: 30px;
    margin-bottom: 5px;
    float: right;
}

.table-striped{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    vertical-align: middle;
}

.nopad{
    padding: 0px;
    margin: 0px;
}

.form-control{
    margin: 5px;
    padding: 0px;
}

.receivedMessage {
    font-size: 20px;
    max-height: 80vh;
    overflow: auto;
    margin: 5px;
    background: #eeeeee;
    border-radius: 15px;
}

.sentMessage {
    font-size: 20px;
    /*overflow: auto;*/
    margin: 5px;
    background: #3a95d5;
    border-radius: 15px;
    display: block;
}

.regUsers {
    max-height: 30vh;
    overflow: auto;
}

.activeChats {
    max-height: 30vh;
    overflow: auto;
}

.container-fluid {
    max-height: 80vh;
    overflow: auto;
}

.messageSender {
    font-size: 15px;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    margin: 0px;
    paddng: 0px;
}

.messageTime {
    font-size: 10px;
    vertical-align: bottom;
    text-align: center;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.messageAvatar {
    margin-top: 8px;
}

.messageText {
    word-wrap: break-word;
}

.notification {
    color: #FF0000
}

.bottom-right {
    right: 0;
    bottom: 0;
    position: relative;
}
